html{
    overflow-x: hidden;
}

/* SECTIONS */
.section-content-left{
    padding: 0 0 0 48px;
    width: 100%;
}

/* HEADER */
.img-bg{
    background-image: url(../media/pariwisata_header.jpg); 
}

.green-section{
    background-color: #005738;
    transform: translateY(-10px);
}

.white-txt{
    color: #fff;
}

.section-img{
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
    border-radius: 10px;
}

/* CONTACT CARD */
.contact-card{
    background-color: #005738;
    color: #fff;
    border-radius: 10px;
}

.card-top{
    margin-top: 12px;
}

.card-bottom{
    margin-bottom: 12px;
}

/* THREE HORIZONTAL IMG */
.three-hor-img{
    width: 100%;
    /*max-height: 100%;*/
    object-fit: cover;
    padding-bottom: 16px;
    /*border-radius: 10px;*/
}

/* CLICKABLE BOXES */
.gal-title, .gal-subtitle{
    color: #fff;
    text-align: center;
}

.gal-subtitle{
    padding-bottom: 24px;
}

.click-card{
    background-color: #fff;
    font-weight: bold;
    color:#005738;
    padding:12px; 
    min-height: 20vw;   
    height: 100%;
    text-align: center;
    border-radius: 10px;
}

.click-card:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.3s;
}

.click-card p{
    text-align: center;
    font-size: 24px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* TICKET PRICES */
.htm{
    background-color: rgba(0,87,56,0.5);
    color: #fff;
    padding: 18px;
    margin: 24px 0;
}

.htm p{
    display: inline;
    font-size: 16px;
    margin-left: 8px;
}

.htm-icon{
    width:40px;
    height:40px;
    margin-left:0;
}

/* VID SECTION */
#vid-section{
    width: 100vw;
}

/* 4 IMAGE ALIGNMENT */
.four-container{
    padding: 12px 15vw;
}

.four-big, .four-sm{
    width: 100%;
    object-fit: cover;
    margin: 16px 0;
    border-radius: 10px;
}

.four-big{
    height: 70vh;
}

.four-sm{
    height:50vh;
}

/* 3 IMAGES ALIGNMENT */
.three-img-top{
    max-height: 60vh;
    width: 100%;
    transform: translateY(-24px);
    border-radius: 10px;
}

.three-big-bottom{
    max-height: 60vh;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 48px;
}

.three-sm-bottom{
    max-height: 40vh;
    width: 70%;
    border-radius: 10px;
    float: right;    
}

.tagline{
    margin: 48px 0;
    text-align: right;
}

/* MAPS */
.gmaps{
    width: 100%;
}

/* ARCGIS */
.whole-screen-img-container{
    position: relative;
}

.whole-screen-img{
    width: 100%;
    height: 58vh;
    margin:0;
    object-fit: cover;
    z-index: -1;
    position: absolute;
}

.button-container{
    position: relative;
    height: 58vh; 
}

.button-hyperlink{
    background-color: #005738;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 12px;
    border-radius: 30px;
    position: absolute;
    text-align: center;
    left: 24px;
    right: 24px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
}

.button-hyperlink:hover{
    background-color: #fff;
    color: #005738;
    transition: 0.5s;
}


/* MEDIA QUERIES */
/* Extra small devices (phones, 600px and down) */
@media(max-width: 600px) {
    .nav-elem{width:300px;}
    .section-content-left{padding:0;}
    li, .click-card p{font-size: 10px;}
    .click-card{min-height: 40vw;}
    .click-card-container{margin-bottom: 12px;}
    .four-big{height:30vh;}
    .four-sm{height:20vh;}
    .ver-center{padding: 24px 0;}
    .three-img-top{transform: translate(0,0); margin-bottom: 24px;}
    .three-sm-bottom{width:100%;}
    .htm p{font-size: 12px;}
    .htm{padding:0px;}
    .htm-icon{margin-left:20px;}
    .txt-left{font-size: 24px;}
    .four-container{padding:0;}
    .img-bg{background-image: url(../media/dummy_phone_header.jpeg);}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .img-txt{font-size:40px;}
    li, p, .section-desc, .img-subtxt{font-size: 20px;}
    .click-card p{font-size: 16px;}
    .click-card{min-height: 20vw;}
    .click-card-container{margin-bottom: 12px;}
    .ver-center{padding: 24px 0;}
    .three-img-top{transform: translate(0,0); margin-bottom: 24px;}
    .three-sm-bottom{width:100%;}
    .tagline{margin-top:12px 0;}
    .htm p{font-size: 16px;}
    .htm{padding:8px;}
    .htm-icon{margin-left:20px;}
    .four-container{padding:0;} 
}

@media only screen and (min-width: 768px){
    .section-div-txt{font-size:25px;}
}
