html{
    overflow-x: hidden;
}

/* VIDEO BG */
#img-bg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
}

.overlay{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.images-container{
    height: 75vh;
}

.main-title-container{
    position: absolute;
    top: 50vh;
    width: 90%;
    overflow-x: hidden;
}

button{
    color: rgba(0,0,0,0.5);
}

.vid-txt{
    color: #fff;
    text-align: left;
    font-size: 60px;
}

.vid-subtxt{
    color: #fff;
    text-align: left;
    font-size: 26px;
    padding-bottom: 24px;
}

.vid-icon{
    text-align: center;
    animation: MoveUpDown 1s linear infinite;
}

/* SECTIONS */
.content{
    position: relative;  
}

.section-title{
    text-align: left;
    font-size: 48px;
}

.section{
    margin-bottom: 48px;
    animation: ease-in 5s;
}

.section-subtitle{
    text-align: center;
    font-size: 18px;
    margin-bottom: 24px;
}

.section-desc{
    font-size: 18px;
    text-align: center;
    padding: 24px 0;
}

.ver-center{
    padding: 40% 0;
}

.txt-center{
    text-align: center;
}

.txt-left{
    text-align: left;
}

.section-content-left{
    padding: 0 0 0 48px;
    width: 100%;
}

.section-content-top{
    margin-bottom: 8px;
}

.section-content-bottom{
    margin-top: 8px;
}

.green-section{
    background-color: #005738;
    transform: translateY(-10px);
}

.white-txt{
    color: #fff;
}

.section-img{
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
    border-radius: 10px;
}

.section-top{
    padding-top: 48px;
}

.section-bottom{
    padding-bottom: 48px;
}

/* CONTACT CARD */
.contact-card{
    background-color: #005738;
    color: #fff;
    border-radius: 10px;
}

.card-top{
    margin-top: 12px;
}

.card-bottom{
    margin-bottom: 12px;
}

/* THREE HORIZONTAL IMG */
.three-hor-img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    padding-bottom: 16px;
}

/* CLICKABLE BOXES */
.gallery-container{
    background-color: #005738;
    padding-bottom: 48px;
    overflow: hidden;
}

.gal-title, .gal-subtitle{
    color: #fff;
    text-align: center;
}

.gal-title{
    padding-top: 48px;
}

.gal-subtitle{
    padding-bottom: 24px;
}

.click-card{
    background-color: #fff;
    color: #005738;
    border-radius: 10px;
    padding: 20px;
    height: 100%;
    width: 95%;
}

.click-card:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.3s;
}

.click-card p{
    text-align: center;
    font-size: 24px;
    padding: 10% 12px 0 12px;
}

/* TICKET PRICES */
.htm{
    background-color: rgba(0,87,56,0.5);
    color: #fff;
    padding: 18px;
    border-radius: 10px;
    margin: 24px 0;
}

.htm p{
    display: inline;
    font-size: 16px;
    margin-left: 8px;
}

.htm-icon{
    width:40px;
    height:40px;
}

/* VID SECTION */
#vid-section{
    width: 100vw;
}

/* 4 IMAGE ALIGNMENT */
.four-big, .four-sm{
    width: 100%;
    object-fit: cover;
    margin: 16px 0;
    border-radius: 10px;
}

.four-big{
    height: 70vh;
}

.four-sm{
    height:50vh;
}

/* 3 IMAGES ALIGNMENT */
.three-img-top{
    max-height: 60vh;
    width: 100%;
    transform: translateY(-24px);
    border-radius: 10px;
}

.three-big-bottom{
    max-height: 60vh;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 48px;
}

.three-sm-bottom{
    max-height: 40vh;
    width: 70%;
    border-radius: 10px;
    float: right;    
}

.tagline{
    margin: 48px 0;
    text-align: right;
}

/* MAPS */
.gmaps{
    width: 100%;
}

/* MEDIA QUERIES */
/* Extra small devices (phones, 600px and down) */
@media(max-width: 600px) {
    .nav-elem{width:300px;}
    .vid-txt{font-size:24px;}
    .section-title{font-size:36px;}
    .section-subtitle{margin-bottom: 12px;}
    h2 {font-size: 16px;}
    h4{font-size: 16px;}
    .section-content-left{padding:0;}
    li, p, .section-desc, .vid-subtxt{font-size: 14px;}
    .four-big{height:30vh;}
    .four-sm{height:20vh;}
    .ver-center{padding: 24px 0;}
    .three-img-top{transform: translate(0,0); margin-bottom: 24px;}
    .three-sm-bottom{width:100%;}
    .tagline{margin-top:12px 0;}
    .htm p{font-size: 12px;}
    .htm{padding:0px; border-radius: 8px;}
    .htm-icon{margin-left:20px;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .vid-txt{font-size:40px;}
    li, p, .section-desc, .vid-subtxt{font-size: 20px;}
    .ver-center{padding: 24px 0;}
    .three-img-top{transform: translate(0,0); margin-bottom: 24px;}
    .three-sm-bottom{width:100%;}
    .tagline{margin-top:12px 0;}
    .htm p{font-size: 16px;}
    .htm{padding:8px; border-radius: 8px;}
    .htm-icon{margin-left:20px;}
}
