/* VIDEO BG */
#vid-bg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
}

.overlay{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.images-container{
    height: 95vh;
    /*position: relative;*/ 
}

.main-title-container{
    position: absolute;
    top: 40vh;
    left: 48px;
}

button{
    color: rgba(0,0,0,0.5);
}

.vid-txt{
    color: #fff;
    text-align: left;
    font-size: 60px;
}

.vid-subtxt{
    color: #fff;
    text-align: left;
    font-size: 26px;
    padding-bottom: 24px;
}

.vid-icon{
    text-align: center;
    animation: MoveUpDown 1s linear infinite;
}